template(name='login')
    .ui.stackable.padded.grid
        .centered.alphablue.row
            .eight.wide.center.aligned.column
                // img.ui.medium.centered.image(src="{{c.url 'jan_full_logo'}}")
                img.ui.medium.centered.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
        .centered.row
            .twelve.wide.column
                h1.ui.center.aligned.header
                    // img.ui.spaced.image(src="{{c.url 'green_jp_icon' effect='make_transparent:10'}}")
                    | Login
                .ui.basic.segment
                    .ui.labeled.fluid.icon.input
                        .ui.basic.label Username
                        input.username(type='text')
                        i.user.icon
                    .ui.hidden.divider
                    .ui.labeled.fluid.icon.input
                        i.lock.icon
                        .ui.basic.label Password
                        input.password(type='password')
                    .ui.hidden.divider
                    .field
                        // unless currentUser
                        .login.ui.fluid.jpgreen.inverted.big.icon.button(class=login_button_class)
                            i.play.icon
            .four.wide.column
                .ui.center.aligned.header Demo
                #login_demo_customer.ui.fluid.margined.large.button(class=demo_class)
                    i.handshake.outline.icon
                    | Customer
                #login_demo_office.ui.fluid.margined.large.button(class=demo_class)
                    i.building.outline.icon
                    | Office
                #login_demo_admin.ui.fluid.margined.large.button(class=demo_class)
                    i.shield.alternate.icon
                    | Admin
