template(name='account_settings')
    .ui.padded.centered.grid
        .centered.row
            .twelve.wide.column
                h1.ui.center.aligned.grey.header 
                    +officeicon name='account-settings'
                    | Account
                |{{> atForm state='changePwd'}}
                h2.ui.center.aligned.header 
                    i.envelope.icon
                    | Email(s)
                .ui.segment
                    .ui.divided.list
                        each currentUser.emails
                            .item 
                                // unless verified
                                //     .right.floated.content
                                //         .ui.button Verify
                                .content
                                    |#{address}
                                    if verified
                                        .ui.green.label Verified
                                    else
                                        .ui.basic.label Unverified
                                        .send_verification_email.ui.button Verify
                    .ui.action.fluid.input
                        input#new_email(type='email')
                        #add_email.ui.submit.button Add Email
                .ui.segment
                    h2.ui.center.aligned.header 
                        |Username: 
                        .ui.basic.label #{currentUser.username}
                    .ui.action.fluid.input
                        input#new_username(type='text' placeholder='change...')
                        #change_username.ui.submit.button Change
                    