template(name='admin')
    .ui.stackable.padded.grid
        .middle.aligned.row 
            .three.wide.center.aligned.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    | Admin 
                    if current_doc_type
                        .ui.basic.label #{current_doc_type}
            .three.wide.center.aligned.column
                +add_button type=current_doc_type label=current_doc_type
        .row 
            .four.wide.column
                +doc_type_facet doc_type='schema' label="Schemas" icon='database'
                +tag_facet
                +timestamp_facet
                +username_facet
            .twelve.wide.column
                .ui.stackable.cards
                    each databank_docs
                        +doc_card
                    // +Template.dynamic template=single_view
                // each databank
                //     +item_segment



