template(name='author_info')
    | by 
    with author
        if profile.image_id
            img.ui.avatar.spaced.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        |&nbsp;
        a(href="/user/#{username}") #{username} 
        // +staus_indicator
    // .ui.sub.header #{when}
