head
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-125029650-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-125029650-1');
    title JAN-PRO Customer Portal
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    meta(name="google-site-verification" content="Vev_RWZQZ5dX1GOznUWd3Qukax27RgUhZXje16BUXs4")
    // link(href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css")
    // script(src="https://code.jquery.com/jquery-2.1.4.js")

    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")


    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    // script(src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js")

template(name='layout')
    .context.example
        +nav
        .ui.bottom.attached.basic.segment.pushable
            +left_sidebar
            .pusher
                #main_area
                    +Template.dynamic template=main
            +footer


template(name='not_found')
    .ui.text.container
        .ui.hidden.divider
        h1.ui.center.aligned.header
            |Not Found


template(name='staus_indicator')
    if online
        // .ui.label(class='{{labelClass}}')
        img.ui.avatar.image(src="https://png.icons8.com/connection-status-on/color/48" title='Online' width="48" height="48")
        // |Online
    else if idle
        .ui.label(class='{{labelClass}}') Idle
        // else
        //     |Offline

template(name='no_data')
    .ui.basic.center.aligned.padded.segment
        h3.ui.header Loading Data