template(name='doc')
    with local_doc
        .ui.segment
            .ui.list
                each local_doc.keys
                    .item 
                        |#{this}
                        strong #{value}