template(name='footer')
    #footer.ui.fluid.segment.footer
        .ui.stackable.equal.height.centered.padded.grid
            .row
                .three.wide.inverted.column
                    // a.ui.inverted.header(href='/work') Development Log
                    .ui.large.list
                        .sitemap_list.item Why Jan-Pro
                        .sitemap_list.item Commercial Cleaning
                        .sitemap_list.item About Us
                    .ui.large.list
                        .sitemap_list.item Contact Us
                        .sitemap_list.item Legal/ Privacy Policy
                        .sitemap_list.item demo login: demo/password
                .four.wide.column
                    +my_customer_account
                .four.wide.column
                    +user_franchise_card
                .four.wide.column
                    +user_office_card
            .centered.row
                .ui.center.aligned.inverted.grey.header
                    i.copyright.icon
                    | 2018 Jan-Pro
        