template(name='footer')
    .ui.stackable.equal.height.centered.padded.grid
        .row
            .four.wide.inverted.column
                .ui.fluid.button.toggle_bottombar
                    +iconsmall name='double-up' classes='spaced'
                if is_eric
                    +role_switcher
                else
                    img.ui.small.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
                    .ui.list
                        .sitemap_list.item Why JAN-PRO
                        .sitemap_list.item Commercial Cleaning
                        .sitemap_list.item About Us
                    .ui.list
                        .sitemap_list.item Contact Us
                        .sitemap_list.item Legal/ Privacy Policy
                    .ui.list
                        .sitemap_list.item Icons by &nbsp;
                            a(href="https://icons8.com/")
                                |Icons8
            .four.wide.column
                .ui.inverted.header
                    +icon name='chat' classes='inline mini'
                    | Chat
                each chat_messages
                    .ui.comment
                        .content #{text}
                .ui.transparent.input
                    input(type='text' placeholder='add...')
                // if is_customer
                //     +customer_card customer_jpid=currentUser.customer_jpid
            .four.wide.column
                +tasks
                    // if is_customer
                    //     +franchisee_card franchisee_jpid=currentUser.franchisee_jpid
            .four.wide.column
                .ui.small.inverted.header
                    +iconsmall name='connected' classes='spaced'
                    | Online Users
                each online_users
                    .ui.inverted.header #{username}
                // unless is_admin
                //     .ui.card
                //         .content
                //             +office_big office_jpid=currentUser.office_jpid
        .centered.row
            .ui.center.aligned.inverted.grey.header
                i.copyright.outline.icon
                | 2018 JAN-PRO Franchising, Inc.



template(name='role_switcher')
    each role_docs
        .change_role.ui.margined.button(class=role_button_class)
            |#{title}
