template(name='jp_footer')
    img.ui.small.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
    .ui.list
        .item Why JAN-PRO
        .item Commercial Cleaning
        .item About Us
    .ui.list
        .item Contact Us
        .item Legal/ Privacy Policy





template(name='role_switcher')
    each role_docs
        .change_role.ui.margined.small.compact.button(class=role_button_class)
            |#{title}

