template(name='footer')
    .footer_area.ui.fluid.segment.footer
        .ui.stackable.equal.height.centered.padded.grid
            .row
                .four.wide.inverted.column
                    // if is_admin
                    //     a.ui.inverted.header(href='/blog') Dev Log
                    //     div
                    //         a.ui.inverted.header(href='/feed') Global Feed
                    unless currentUser
                        .ui.list
                            .sitemap_list.item Why Jan-Pro
                            .sitemap_list.item Commercial Cleaning
                            .sitemap_list.item About Us
                        .ui.list
                            .sitemap_list.item Contact Us
                            .sitemap_list.item Legal/ Privacy Policy
                            // .sitemap_list.item demo login: demo/password
                    // if is_dev
                    //     +role_switcher
                    .ui.hidden.divider
                    #report_bug.ui.icon.button(data-position="right center" data-tooltip="Report Bug")
                        i.bug.icon
                .four.wide.column
                    if is_customer
                        +customer_card customer_jpid=currentUser.customer_jpid
                .four.wide.column
                    if is_customer
                        +franchisee_card franchisee_jpid=currentUser.franchisee_jpid
                .four.wide.column
                    unless is_admin
                        +office_card office_jpid=currentUser.office_jpid
            .centered.row
                .ui.center.aligned.inverted.grey.header
                    +icon name='copyright'
                    | 2018 Jan-Pro
        
        
    // .ui.basic.small.report.modal
    //     h3.ui.center.aligned.header
    //         | Report Bug on #{bug_link}
    //     .content
    //         .ui.fluid.input
    //             input#bug_description(type='text')
    //     .actions
    //         .ui.cancel.icon.button
    //             i.remove.icon
    //         // if can_submit_bug
    //         .ui.green.ok.ok_button.large.icon.button
    //             i.checkmark.large.icon
        
        
template(name='role_switcher')
    .ui.inverted.header 
        i.code.icon
        |Role Switcher
    // h5.ui.inverted.header Switching reloads the page
    each role_docs
        .change_role.ui.button(class=role_button_class)
            |#{name}
