template(name='footer')
    .footer_area.ui.fluid.segment.footer
        .ui.stackable.equal.height.centered.padded.grid
            .row
                .four.wide.inverted.column
                    // a.ui.inverted.header(href='/work') Development Log
                    // .ui.list
                    //     .sitemap_list.item Why Jan-Pro
                    //     .sitemap_list.item Commercial Cleaning
                    //     .sitemap_list.item About Us
                    // .ui.list
                    //     .sitemap_list.item Contact Us
                    //     .sitemap_list.item Legal/ Privacy Policy
                    //     .sitemap_list.item demo login: demo/password
                    +role_switcher
                    .ui.hidden.divider
                    #report_bug.ui.icon.button(data-position="bottom center" data-tooltip="Report a Bug/Feature Request")
                        +icon name='bug'

                .four.wide.column
                    if is_customer
                        +my_customer_account_card
                .four.wide.column
                    if is_customer
                        +my_franchisee_card
                .four.wide.column
                    unless is_admin
                        +my_office_card
            .centered.row
                .ui.center.aligned.inverted.grey.header
                    +icon name='copyright'
                    | 2018 Jan-Pro
        
        
    .ui.basic.small.report.modal
        h1.ui.center.aligned.header
            img.bug_icon.ui.avatar.image(src="https://png.icons8.com/bug/color/96" width="96" height="96")
            | Report Bug/ Feature Request
        h3.ui.center.aligned.header Current Page: #{bug_link}
        .content
            .ui.fluid.input
                input#bug_description(type='text' placeholder='Description...')
        .actions
            .ui.cancel.basic.button
                // i.remove.icon
                | Cancel
            // if can_submit_bug
            .ui.green.ok.ok_button.button
                // i.checkmark.icon
                // +icon24 name='checkmark' classes='ui avatar image'
                | Submit
    .ui.basic.small.confirm.modal
        h1.ui.center.aligned.header Thanks!
            .ui.green.ok.large.ok_button.button
                | You're welcome
        
        
        
template(name='role_switcher')
    .ui.inverted.header 
        +icon name='user-shield'
        |Role Switcher
    each role_docs
        .change_role.ui.button(class=role_button_class)
            |#{name}
