template(name='footer')
    .footer_area.ui.fluid.segment.footer
        .ui.stackable.equal.height.centered.padded.grid
            .row
                .four.wide.inverted.column
                    // a.ui.inverted.header(href='/work') Development Log
                    // .ui.list
                    //     .sitemap_list.item Why Jan-Pro
                    //     .sitemap_list.item Commercial Cleaning
                    //     .sitemap_list.item About Us
                    // .ui.list
                    //     .sitemap_list.item Contact Us
                    //     .sitemap_list.item Legal/ Privacy Policy
                    //     .sitemap_list.item demo login: demo/password
                    +role_switcher
                .four.wide.column
                    if is_customer
                        +my_customer_account_card
                .four.wide.column
                    if is_customer
                        +my_franchisee_card
                .four.wide.column
                    unless is_admin
                        +my_office_card
            .centered.row
                .ui.center.aligned.inverted.grey.header
                    +icon name='copyright'
                    | 2018 Jan-Pro
        
        
template(name='role_switcher')
    .ui.inverted.header 
        +icon name='user-shield'
        |Role Switcher
    each role_docs
        .change_role.ui.button(class=role_button_class)
            |#{name}
