template(name='help')
    .ui.padded.stackable.grid
        .row
            .sixteen.wide.column
                h1.ui.center.aligned.header
                    +icon name='help'
                    |Help
        .row
            .four.wide.column
            .twelve.wide.column