template(name='messaging')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                h1.ui.center.aligned.header
                    +icon name='topic'
                    | Messaging
            .eight.wide.column
                +inbox
                +outbox
            .four.wide.column
                +wall

template(name='inbox')
    .ui.dividing.header
        +icon name='inbox'
        |Inbox
    each inbox_messages
        +message


template(name='outbox')
    .ui.dividing.header
        +icon name='send-mass-email'
        |Outbox
    each inbox_messages
        +message


template(name='message')
    .ui.segment
        .content
            .header #{body}
        .content
            .ui.list
                .item to
                    strong #{to}
                .item
                .item
                .item
                .item
        .content
            .ui.icon.button
                i.reply.icon
            .ui.icon.button
                i.archive.icon
            .ui.icon.button
                i.reply.icon
            .ui.icon.button
                i.reply.icon

template(name='wall')
    .ui.header
        +icon name='note'
        |Wall
    .ui.segment
        each wall_posts
            .ui.header #{text}
    .ui.attached.fluid.input
        input(type='text' placeholder='Add...')