template(name='nav')
    .centered.row
        .four.wide.center.aligned.column
            .ui.icon.button
                i.plus.icon
        .eight.wide.column
            img.ui.small.centered.image.delta.pointer(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-blue.svg')
        .four.wide.column
            .ui.icon.button
                i.user.icon
            #logout.ui.icon.button
                if signing_out
                    // +icon name='spinner' classes='fa-pulse'
                    i.spinner.loading.icon
                else
                    i.sign.out.icon
                // strong &nbsp; Log Out

                    
template(name='role_switcher')
    each role_docs
        .change_role.ui.margined.small.compact.button(class=role_button_class)
            |#{title}

