template(name='nav')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                img.ui.small.center.aligned.image(src="{{c.url 'jan_full_logo' }}")
            .eight.wide.column
                // a.ui.button(href="/data")
                //     i.icon
                //         +icon name='database'
                //     | Data
                if currentUser
                    each bookmarks
                        a.ui.icon.compact.button.pick_delta(title=plural)
                            i.icon
                                +icon name=icon
                        // | #{plural}
            .four.wide.column
                // if is_dev
                //     // .mobile.only
                //     if editing_mode
                //         #toggle_editing.icon.active.large.item
                //             i.teal.pencil.link.bordered.icon
                //     else
                //         #toggle_editing.icon.large.item
                //             i.pencil.link.bordered.icon
                if currentUser
                    // a.mobile.hidden.item(href="/help"  }}" title='Help')
                    //     i.icon
                    //         +icon name='help'
                    .ui.button
                        if currentUser.image_id
                            i.large.icon
                                img.ui.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                        else
                            i.user.icon
                        |#{currentUser.username}
                    #logout.ui.icon.button
                        i.sign.out.alternate.icon
                // else
                //     a.ui.button(href='/login')
                //         i.large.icon
                //             +icon name='internal'
                //         // i.sign.in.alternate.icon
                //         | &nbsp; Log In



