template(name='office_by_franchisee')
    a.ui.center.aligned.button(href="/v/#{parent_office._id}" title="#{ev.FRANCHISEE}'s Office")
        // .ui.dividing.header 
        i.big.icon
            +icon name='link-company-parent'
        with parent_office
            | #{ev.MASTER_LICENSEE}
            
template(name='databank_office')
    .ui.stackable.centered.padded.grid
        .middle.aligned.row
            .three.wide.column
                +link_button link='/admin' icon='user-shield' label='Admin'
            .ten.wide.column
                h1.ui.center.aligned.header
                    +icon name='building'
                    |Offices
            .three.wide.right.aligned.column
                // if is_dev
                // +call_method name='sync_offices'
        +modules tags='offices,admin,total'