template(name='customers_incidents_panel')
    .ui.secondary.segment
        .ui.header 
            +icon name='error'
            |Incidents
        
        
template(name='customers_events_panel')
    .ui.secondary.segment
        .ui.header 
            +icon name='rss'
            |Events

template(name='customers_service_requests_panel')
    .ui.secondary.segment
        .ui.header 
            +icon name='rss'
            |Service Requests

template(name='customers_consumables_panel')
    .ui.secondary.segment
        .ui.header 
            +icon name='small-business'
            |Consumables

template(name='customers_users_panel')
    .ui.secondary.segment
        .ui.header
            +icon name='groups'
            |Users

template(name='customers_quickbooks_panel')
    .ui.secondary.segment
        .ui.header
            +icon name='cash-in-hand'
            |Accounts

