template(name='incidents_panel')
    .ui.secondary.segment
        .ui.header 
            +icon name='error'
            |Incidents
        
        
template(name='events_panel')
    .ui.secondary.segment
        .ui.header 
            +icon name='rss'
            |Events

template(name='service_requests_panel')
    .ui.secondary.segment
        .ui.header 
            +icon name='rss'
            |Service Requests

template(name='purchases_panel')
    .ui.secondary.segment
        .ui.header 
            +icon name='small-business'
            |Consumable Purchases

template(name='users_panel')
    .ui.secondary.segment
        .ui.header
            +icon name='groups'
            |Users

template(name='quickbooks_panel')
    .ui.secondary.segment
        .ui.header
            +icon name='cash-in-hand'
            |Accounts

template(name='messages_panel')
    .ui.secondary.segment
        .ui.header
            +icon name='chat'
            |Messages

