template(name='account_settings')
    .ui.padded.centered.equal.width.three.column.stackable.grid
        .centered.row
                h1.ui.center.aligned.header
                    i.cog.icon
                    | #{currentUser.username} Account Settings
            .column
                +change_password_widget
            .column
                .ui.secondary.segment
                    .ui.header
                        +icon name='envelope'
                        | Email
                    // #test_email.ui.big.button test email
                    .ui.divided.list
                        each currentUser.emails
                            .item
                                // unless verified
                                //     .right.floated.content
                                //         .ui.button Verify
                                .content
                                    |#{address}
                                    if verified
                                        .ui.green.label Verified
                                    else
                                        .ui.basic.label Unverified
                                        .send_verification_email.ui.button Verify
                    .ui.action.fluid.input
                        input#new_email(type='email')
                        #add_email.ui.submit.button
                            |Add Email
            .column
                .ui.secondary.segment
                    .ui.header
                        i.user.icon
                        |Username: #{currentUser.username}
                    .ui.action.fluid.input
                        input#new_username(type='text' placeholder='new username...')
                        #change_username.ui.submit.button
                            |Change



template(name='change_password_widget')
    .ui.secondary.segment
        .ui.header
            i.unlock.icon
            |Change Password
        .ui.form
            .field
                label Old Password
                input#old_password(type='password')
            .field
                label New Password
                input#new_password(type='password')
            .field
                #change_password.ui.fluid.button
                    // +icon name='lock-2'
                    | Change Password
