template(name='stats')
    .ui.stackable.padded.grid
        .middle.aligned.row 
            .three.wide.center.aligned.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    +icon name='bar chart'
                    | Stats
            .three.wide.center.aligned.column
                +add_button type='stat'
        .row 
            .eight.wide.column
                .ui.header Run
                +call_method name='calculate_user_count'
                +call_method name='calculate_active_customers'
                +call_method name='calculate_active_franchisees'
                +call_method name='calculate_doc_type_count' label='all customers' argument='customer'
                +call_method name='calculate_doc_type_count' label='all franchisees' argument='franchisee'
                +call_method name='calculate_doc_type_count' label='all offices' argumesnt='office'
                +call_method name='calculate_doc_type_count' label='all special services' argument='spcial_service'
            .eight.wide.column
                .ui.header Totals
                +table collection='Stats' fields=fields