.-autocomplete-container {
  margin-top: 12px;
}

.nav_bar {
  /*border: 0px solid transparent; */
  /*border: none !important;*/
  /*background: #01336C; //dark blue*/
  /*background: rgba(0, 20, 137) !important;*/
  box-shadow: none
}


.delta_selector:hover {
  /*box-shadow: 0px 0px 10px rgba(0,0,0,0.75);*/
  cursor: pointer;
  /*border-radius: 15px*/
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}



.delta_selected {
/*  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);*/
/*  cursor: pointer;*/
/*  border-radius: 15px;*/
/*  padding:10px;*/
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.75));

}

.white {
  color:white !important;
}
.bgwhite {
  background-color:white !important;
}
.black {
  color:black !important;
}

.nav_bar > .column {
    margin-top: -1rem !important;
    margin-bottom: -1rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background: linear-gradient(to bottom, rgba(0,20,137,1) 0%,rgba(0,20,137,1) 96%,rgba(132,189,0,1) 96%, rgba(132,189,0,1) 100%) !important;
}
.nav_bar > .column > .header {
    vertical-align: middle;
    top: 50%;
    left: 50%;
}

.nav_bar > .column:hover {
  background: linear-gradient(to bottom, rgba(0,20,137,.8) 0%,rgba(0,20,137,.8) 96%,rgba(132,189,0,1) 96%, rgba(132,189,0,1) 100%) !important;
  /*background: rgba(0, 20, 137, .8) !important;*/
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   background:#6cf;
}



#footer_area {
/*    position: absolute !important;*/
    /*height:250px;*/
/*    bottom: 0;*/
/*    width: 100%;*/
    margin: 0 !important;
    background: linear-gradient(to top, rgba(0,20,137,1) 0%,rgba(0,20,137,.9) 98%,rgba(132,189,0,1) 98%, rgba(132,189,0,1) 100%) !important;
/*    border: 0 !important;*/
    /*background: rgba(0, 20, 137) !important;*/
}

#footer_area .sitemap_list{
  color:white !important;
}

.jpgreen {
  background: rgba(132, 189, 0) !important;

}
/*.toggle_value:hover {*/
/*  background: rgba(0, 20, 137, .8) !important;*/
/*  color:white !important;*/
/*}*/

/*.toggle_value {*/
  /*border-bottom-style: solid !important;*/
  /*border-left-style: solid !important;*/
  /*border-right-style: solid !important;*/
  /*border-top-style: solid !important;*/
/*  border-width: 0px !important;*/
  /*border-color: #d4d4d5 !important;*/
/*  box-shadow: -1px 1px 0px 0px #d4d4d5 !important;*/
/*  width: 100px !important;*/
/*}*/

.dotted {
  border-style: dotted !important;
}

body {
  /*margin-top:52px;*/
  /*font-family: "Open Sans",sans-serif;*/
  font-family: 'Ubuntu', sans-serif !important;
  margin:0;
  padding:0;
  height:100%;
  /*background: #f4f7f9;*/
  /*background: rgba(244, 247, 249);*/
  background: #f9f8fd;
}
#container {
   /*min-height:100%;*/
   /*position:relative;*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main {
   /*min-height:100%;*/
   /*position:relative;*/
   /*padding:10px;*/
   /*padding-bottom:200px;*/
   /*height:100%;*/
  flex: 1;
}



.ui.header{
  font-family: 'Ubuntu', sans-serif !important;
}

.ui.button{
  text-transform: none !important;
}

/* Mobile */
  @media only screen and (max-width: 767px) {
    .mobile.hidden, .tablet.only, .computer.only, .large.monitor.only, .widescreen.monitor.only {
      display: none !important;
  }
}
/* Tablet / iPad Portrait */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .mobile.only, .tablet.hidden, .computer.only, .large.monitor.only, .widescreen.monitor.only {
      display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mobile.only, .tablet.only, .computer.hidden, .large.monitor.only, .widescreen.monitor.only {
      display: none !important;
  }
}
/* Large Monitor */
  @media only screen and (min-width: 1200px) and (max-width: 1919px) {
    .mobile.only, .tablet.only, .computer.only, .large.monitor.hidden, .widescreen.monitor.only {
      display: none !important;
  }
}
/* Widescreen Monitor */
  @media only screen and (min-width: 1920px) {
    .mobile.only, .tablet.only, .computer.only, .large.monitor.only, .widescreen.monitor.hidden {
      display: none !important;
  }
}
  .large130 {
    font-size: 130%;
    line-height: 130%;
}
  .large120 {
    font-size: 120%;
    line-height: 120%;
}
  .large110 {
    font-size: 110%;
    /*line-height: 120%;*/
}
  .large150 {
    font-size: 150%;
    line-height: 130%;
}

.margined, .ui.label.tag {
  margin-top: .2em !important;
  margin-bottom: .2em !important;
}

.rounded {
  border-radius: 15px
}



.rightbar {
    margin-top: -1rem !important;
    margin-bottom: -1rem !important;
    padding-top: 1rem !important;
    /*padding-bottom: 1rem !important;*/
    /*height:100vh;*/
    background: linear-gradient(to left, rgba(0,20,137,.9) 0%,rgba(0,20,137,.9) 98%,rgba(132,189,0,1) 98%, rgba(132,189,0,1) 100%) !important;
}
.rightbar > .grid > .row {
    padding: 1em;
    color: white !important;
    cursor: pointer !important;
}
.rightbar > .grid > .row:hover {
    /*background: linear-gradient(to left, rgba(0,20,137,0.5) 0%,rgba(0,20,137,0.5) 98%,rgba(132,189,0,1) 98%, rgba(132,189,0,1) 100%) !important;*/
    background: rgba(0,20,137,0.5) ;
}



.leftbar {
    margin-top: -1rem !important;
    margin-bottom: -1rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(0,20,137,.9) 0%,rgba(0,20,137,.9) 98%,rgba(132,189,0,1) 98%, rgba(132,189,0,1) 100%) !important;
}
.leftbar > .grid > .row {
    padding: 1em;
    color: white !important;
    cursor: pointer !important;
}
.leftbar > .grid > .row:hover {
    /*background: linear-gradient(to left, rgba(0,20,137,0.5) 0%,rgba(0,20,137,0.5) 98%,rgba(132,189,0,1) 98%, rgba(132,189,0,1) 100%) !important;*/
    background: rgba(0,20,137,0.5) ;
}




.alphablue {
  /*background: rgba(0, 20, 137, 0.5) !important;*/
  background: rgba(0, 20, 137, .8) !important;
  color: white;
}

.pointer {cursor: pointer;}

.pointer:hover {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}


.scrolling::-webkit-scrollbar {
    display: none;
}

.scrolling{
  /*overflow-y:scroll;*/
  overflow-y:scroll;
  overflow-x: hidden;
  padding:2px;
  /*max-height:750px;*/
}


.scrolling_small::-webkit-scrollbar {
    display: none;
}

.scrolling_small{
  /*overflow-y:scroll;*/
  overflow-y:scroll;
  overflow-x: hidden;
  padding:2px;
  max-height:500px;
}

.delta_cards{
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


