.-autocomplete-container {
  margin-top: 12px;
}

.nav_bar {
  /*border: 0px solid transparent; */
  /*border: none !important;*/
  /*background: #01336C; //dark blue*/
  /*background: rgba(0, 20, 137) !important;*/
  /*box-shadow: none*/
  background: linear-gradient(to bottom, rgba(0,20,137,1) 0%,rgba(0,20,137,1) 96%,rgba(132,189,0,1) 96%, rgba(132,189,0,1) 100%) !important;

}


.delta_selector:hover {
  /*box-shadow: 0px 0px 10px rgba(0,0,0,0.75);*/
  cursor: pointer;
  /*border-radius: 15px*/
  -webkit-filter: drop-shadow(0px 0px 5px rgba(132,189,0,.5));
}



.delta_selected {
/*  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.75);*/
/*  cursor: pointer;*/
/*  border-radius: 15px;*/
/*  padding:10px;*/
  -webkit-filter: drop-shadow(0px 0px 5px rgba(132,189,0,1));

}

.white {
  color:white !important;
}
.bgwhite {
  background-color:white !important;
}
.black {
  color:black !important;
}

.nav_bar > .column {
    margin-top: -1rem !important;
    margin-bottom: -1rem !important;
    padding-top: 1rem !important;
    /*padding-bottom: 1rem !important;*/
    /*background: linear-gradient(to bottom, rgba(0,20,137,1) 0%,rgba(0,20,137,1) 96%,rgba(132,189,0,1) 96%, rgba(132,189,0,1) 100%) !important;*/
}
.nav_bar > .column > .header {
    vertical-align: middle;
    top: 50%;
    left: 50%;
}

/*.nav_bar > .item:hover {*/
/*  border-bottom-color: rgba(132, 189, 0, .8) !important;*/
/*  border-bottom-width: 2px;*/
/*  border-bottom-style: solid;*/
  /*background: linear-gradient(to bottom, rgba(0,20,137,.8) 0%,rgba(0,20,137,.8) 96%,rgba(132,189,0,1) 96%, rgba(132,189,0,1) 100%) !important;*/
  /*background: rgba(0, 20, 137, .8) !important;*/
/*}*/

.topnav {
/*   position:absolute !important;*/
/*   bottom:0;*/
/*   width:100%;*/
/*   background:#6cf;*/
  background: linear-gradient(to bottom, rgba(0,20,137,1) 0%,rgba(0,20,137,.9) 99%,rgba(132,189,0,1) 99%, rgba(132,189,0,1) 100%) !important;

}
.footer {
/*   position:absolute !important;*/
/*   bottom:0;*/
/*   width:100%;*/
/*   background:#6cf;*/
  background: linear-gradient(to top, rgba(0,20,137,1) 0%,rgba(0,20,137,.9) 99%,rgba(132,189,0,1) 99%, rgba(132,189,0,1) 100%) !important;

}

.bottombar {
  /*margin:100px !important;*/
  /*position: absolute !important;*/
  /*bottom: 0px;*/
}


#footer_area {
    position: fixed !important;
    /*max-height:50px;*/
    bottom: 0;
    width:100%;
    height: 50px;
    margin: 0 !important;
    background: linear-gradient(to top, rgba(0,20,137,1) 0%,rgba(0,20,137,.9) 99%,rgba(132,189,0,1) 99%, rgba(132,189,0,1) 100%) !important;
/*    border: 0 !important;*/
    /*background: rgba(0, 20, 137) !important;*/
}

#footer_area .sitemap_list{
  color:white !important;
}

.jpgreen {
  background: rgba(132, 189, 0) !important;

}

body {
  /*margin-top:52px;*/
  font-family: "Open Sans",sans-serif;
  /*font-family: 'Ubuntu', sans-serif !important;*/
  margin:0;
  padding:0;
  height:100%;
  background: #f4f7f9;
  /*background: rgba(244, 247, 249);*/
  /*background: rgba(250, 250, 250, 1);*/
  /*background: #f9f8fd;*/
}
#container {
   /*height:80%;*/
   /*position:relative;*/
  /*display: flex;*/
  /*min-height: 100vh;*/
  /*flex-direction: column;*/
}
.topbar {
   margin-top:30px !important;
}
#main {
   padding-top:60px;

   /*height:100%;*/
   /*position:relative;*/
   /*padding-bottom:200px;*/
   /*height:100%;*/
  /*flex: 1;*/
}



.ui.header{
  font-family: 'Open Sans', sans-serif !important;
}

.ui.button{
  text-transform: none !important;
}

/* Mobile */
  @media only screen and (max-width: 767px) {
    .mobile.hidden, .tablet.only, .computer.only, .large.monitor.only, .widescreen.monitor.only {
      display: none !important;
  }
}
/* Tablet / iPad Portrait */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .mobile.only, .tablet.hidden, .computer.only, .large.monitor.only, .widescreen.monitor.only {
      display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mobile.only, .tablet.only, .computer.hidden, .large.monitor.only, .widescreen.monitor.only {
      display: none !important;
  }
}
/* Large Monitor */
  @media only screen and (min-width: 1200px) and (max-width: 1919px) {
    .mobile.only, .tablet.only, .computer.only, .large.monitor.hidden, .widescreen.monitor.only {
      display: none !important;
  }
}
/* Widescreen Monitor */
  @media only screen and (min-width: 1920px) {
    .mobile.only, .tablet.only, .computer.only, .large.monitor.only, .widescreen.monitor.hidden {
      display: none !important;
  }
}
  .large130 {
    font-size: 130%;
    line-height: 130%;
}
  .large120 {
    font-size: 120%;
    line-height: 120%;
}
  .large110 {
    font-size: 110%;
    /*line-height: 120%;*/
}
  .large150 {
    font-size: 150%;
    line-height: 130%;
}

.margined, .ui.label.tag {
  margin-top: .2em !important;
  margin-bottom: .2em !important;
}

.rounded {
  border-radius: 15px
}



.bottombar {
  position:absolute !important;
  bottom:0px !important;
}

.rightbar {
    /*margin-top: -1rem !important;*/
    /*margin-bottom: -1rem !important;*/
    /*padding-top: 1rem !important;*/
    /*padding-bottom: 1rem !important;*/
    /*height:100vh;*/
    background: linear-gradient(to left, rgba(0,20,137,.9) 0%,rgba(0,20,137,.9) 99%,rgba(132,189,0,1) 99%, rgba(132,189,0,1) 100%) !important;
}
.rightbar > .grid > .row {
    padding: 1em;
    color: white !important;
    cursor: pointer !important;
}
.rightbar > .grid > .row:hover {
    /*background: linear-gradient(to left, rgba(0,20,137,0.5) 0%,rgba(0,20,137,0.5) 98%,rgba(132,189,0,1) 98%, rgba(132,189,0,1) 100%) !important;*/
    background: rgba(0,20,137,0.5) ;
}



.leftbar {
    /*margin-top: -1rem !important;*/
    /*margin-bottom: -1rem !important;*/
    /*padding-top: 1rem !important;*/
    /*padding-bottom: 1rem !important;*/
    /*min-height: 100vh;*/
    background: linear-gradient(to right, rgba(0,20,137,.9) 0%,rgba(0,20,137,.9) 98%,rgba(132,189,0,1) 98%, rgba(132,189,0,1) 100%) !important;
}
.leftbar > .grid > .row {
    padding: 1em;
    color: white !important;
    cursor: pointer !important;
}
.leftbar > .grid > .row:hover {
    /*background: linear-gradient(to left, rgba(0,20,137,0.5) 0%,rgba(0,20,137,0.5) 98%,rgba(132,189,0,1) 98%, rgba(132,189,0,1) 100%) !important;*/
    background: rgba(0,20,137,0.5) ;
}




.alphablue {
  /*background: rgba(0, 20, 137, 0.5) !important;*/
  background: rgba(0, 20, 137, 1) !important;
  color: white;
}
.blue80 {
  /*background: rgba(0, 20, 137, 0.5) !important;*/
  background: rgba(0, 20, 137, .8) !important;
  color: white;
}

.pointer {cursor: pointer;}

.pointer:hover {
    /*-webkit-filter: drop-shadow(0px 0px 5px rgba(132,189,0,1));*/
    -webkit-filter: drop-shadow(0px 0px 3px rgba(250,250,250,.7));
}

.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}


.scrolling::-webkit-scrollbar {
    display: none;
}

.scrolling{
  /*overflow-y:scroll;*/
  overflow-y:scroll;
  overflow-x: hidden;
  padding:2px;
  /*max-height:750px;*/
}


.scrolling_small::-webkit-scrollbar {
    display: none;
}

.scrolling_small{
  /*overflow-y:scroll;*/
  overflow-y:scroll;
  overflow-x: hidden;
  padding-top: 20px;
  max-height:700px;
}

.delta_cards{
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


