template(name='tasks')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                .ui.header
                    +icon name='tasks'
                    | Tasks
            .twelve.wide.column
                .ui.dividing.header
                    +icon name='unchecked-checkbox'
                    |Incomplete Tasks
                .ui.cards
                    each my_tasks
                        .card
                            .content
                                .header #{title}
                            .content
                                .ui.icon.button
                                    i.checkmark.icon
                                .ui.icon.button
                                    i.forward.icon
                .ui.dividing.header My Tasks
                .ui.cards
                    each my_tasks
                        .card
                            .content
                                .header #{title}
                            .content
                                .ui.icon.button
                                    i.checkmark.icon
                                .ui.icon.button
                                    i.forward.icon
            .four.wide.column