template(name='users') 
    .ui.padded.stackable.grid
        .centered.row
            .three.wide.column 
                a.ui.large.icon.button(href='/user/add' data-content='Add User')
                    i.plus.icon
                // if is_dev
                //     .ui.header upload user list
                //     unless uploading
                //         input(type="file" name="upload_csv")
                //     else
                //         |Uploading files...
            .ten.wide.column 
                h1.ui.center.aligned.header 
                    |Users
            .three.wide.column 
        .centered.row
            .sixteen.wide.column 
                // +user_table
                |{{> tabular table=TabularTables.Users class="ui sortable selectable striped fluid very basic table"}}