if before_image_id
    .field
        label Before Image
        .ui.large.image
            img(src="{{c.url before_image_id }}")
            a#remove_photo.ui.top.left.attached.link.basic.label Remove
            .ui.bottom.right.attached.basic.label Image Id: #{before_image_id}
else
    .fields
        .field
            label Upload Before Image
            input(type='file' name='upload_picture' accept='image/*')
        // if isInRole 'admin'
        //     .field
        //         label or Choose Cloudinary Image Id
        //         input#input_before_image_id(type='text')
