template(name='account_settings')
    .ui.container
        h1.ui.center.aligned.header 
            i.cog.icon
            |account
        |{{> atForm state='changePwd'}}
        h2.ui.center.aligned.header 
            i.envelope.icon
            |email(s)
        .ui.segment
            .ui.divided.list
                each currentUser.emails
                    .item 
                        // unless verified
                        //     .right.floated.content
                        //         .ui.button Verify
                        .content
                            |#{address}
                            if verified
                                .ui.green.label verified
                            else
                                .ui.label unverified
                                .send_verification_email.ui.button verify
            .ui.action.fluid.input
                input#new_email(type='email')
                #add_email.ui.submit.button add email
        .ui.segment
            h2.ui.center.aligned.header 
                |username: 
                .ui.label #{currentUser.username}
            .ui.action.fluid.input
                input#new_username(type='text' placeholder='change...')
                #change_username.ui.submit.button change
            