template(name='footer')
    .ui.basic.fluid.segment.footer
        .ui.three.column.grid
            .column
                .ui.big.list
                    .item Why Jan-Pro
                    .item Commercial Cleaning
                    .item About Us
            .column
                .ui.big.list
                    .item Contact Us
                    .item Legal/ Privacy Policy
                .ui.center.aligned.header
                    i.copyright.icon
                    | 2018 Jan-Pro
            .column
                .ui.secondary.segment
                    .ui.center.aligned.header Regional Office Name
                .ui.center.aligned.header
                    | demo login: demo/password
            