template(name='notifications')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    i.bell.icon
                    | Notifications
            .three.wide.column
        .centered.row
            .four.wide.column
                .ui.vertical.large.menu
                    .item
                        |Inbox
                        i.inbox.icon
                    .item
                        | Archived
                        i.archive.icon
            .twelve.wide.column
                .ui.segment
                    .ui.header notifications

                

template(name='notification')
    .item
        .header notice