template(name='dashboard')
    .ui.container
        h1.ui.dividing.center.aligned.header 
            i.circle.info.icon
            | Account Status Dashboard
        
        .ui.centered.cards
            a.ui.card(href='/incidents')
                .content
                    .ui.icon.header
                        i.edit.icon
                        h2.content Incidents
