template(name='dashboard')
    h2.ui.center.aligned.header 
        i.line.chart.icon
        | Dashboard
    .ui.padded.three.column.grid
        .row
            .column
                .ui.segment
                    a(href='/incidents')
                        .ui.header
                            i.edit.icon
                            | Incidents
            .column
                .ui.disabled.segment
                    .ui.header 
                        i.info.icon
                        |General Account Info
            .column
                .ui.disabled.segment
                    .ui.header
                        i.building.icon
                        | Local Office Information
        .row
            .column
                .ui.disabled.segment
                    .ui.header
                        i.building.icon
                        | Home Office Permissions
            .column
                .ui.disabled.segment
                    .ui.header 
                        i.dollar.icon
                        |Billing and Payment History
            .column
                .ui.disabled.segment
                    .ui.header
                        i.clock.icon
                        |Scheduled Services


    
