template(name='dashboard')
    h2.ui.center.aligned.header 
        i.line.chart.icon
        | Account Status Dashboard
    .ui.padded.three.column.grid
        .column
            .ui.segment
                .ui.header General Account Info
        .column
            .ui.segment
                a(href='/incidents')
                    .ui.header
                        i.edit.icon
                        h4.content Incidents
        .column
            .ui.segment
                a(href='/my-office')
                    .ui.header
                        i.building.icon
                        h4.content Local Office Information
    
