template(name='dashboard')
    h2.ui.center.aligned.header 
        i.line.chart.icon
        | Dashboard
    .ui.padded.three.column.grid
        .column
            .ui.segment
                .ui.header 
                    i.info.icon
                    |General Account Info
        .column
            .ui.segment
                a(href='/incidents')
                    .ui.header
                        i.edit.icon
                        | Incidents
        .column
            .ui.segment
                a(href='/my-office')
                    .ui.header
                        i.building.icon
                        | Local Office Information
        .column
            .ui.segment
                a(href='/my-office')
                    .ui.header
                        i.building.icon
                        | Home Office Permissions
    h2.ui.center.aligned.header 
        i.transactions.icon
        | Account Status/ Billing
    .ui.segment
        |Billing and Payment History
    .ui.segment
        | Scheduled Services


    
