template(name='account_settings')
    .ui.padded.centered.grid
        .centered.row
            +user_nav
        .centered.row
            .twelve.wide.column
                h1.ui.center.aligned.header 
                    i.large.cog.icon
                    | #{currentUser.username} Account Settings
                +change_password_widget
                .ui.secondary.segment
                    .ui.header 
                        i.envelope.icon
                        | Email(s)
                    // #test_email.ui.big.button test email
                    .ui.divided.list
                        each currentUser.emails
                            .item 
                                // unless verified
                                //     .right.floated.content
                                //         .ui.button Verify
                                .content
                                    |#{address}
                                    if verified
                                        .ui.green.label Verified
                                    else
                                        .ui.basic.label Unverified
                                        .send_verification_email.ui.button Verify
                    .ui.action.fluid.input
                        input#new_email(type='email')
                        #add_email.ui.submit.button Add Email
                .ui.secondary.segment
                    .ui.header 
                        |Username: 
                        .ui.basic.label #{currentUser.username}
                    .ui.action.fluid.input
                        input#new_username(type='text' placeholder='change...')
                        #change_username.ui.submit.button Change
                    
                    
                
                
template(name='change_password_widget')
    .ui.secondary.segment
        .ui.header Change Password
        .ui.form
            .field
                label Old Password 
                input.old_password(type='password')
            .field
                label New Password
                input.new_password(type='password')
            .field
                label New Password Again
                input.new_password_again(type='password')
            if can_submit_new_password
                .field
                    .login.ui.fluid.disabled.button
                        // +icon name='lock-2'
                        | Change Password

        