template(name='comments')
    .ui.fluid.styled.accordion
        .active.title
            h3 
                i.comments.icon
                |#{comment_count} Comments
                i.dropdown.icon
        .active.content
            .ui.comments
                each comments
                    .comment
                        .disabled.avatar
                            i.user.icon
                        .content
                            a.disabled.author #{author.username}
                            .metadata
                                span.date #{when}
                            .text
                                p #{text}
                            .actions
                                // a.reply Reply
                                a.delete_comment Delete
            .ui.large.fluid.icon.input
                i.plus.icon
                input#new_comment(type='text')