template(name='comments')
    .ui.horizontal.dividing.header
        i.comments.icon
        |Comments
    .ui.disabled.button 
        i.plus.icon
        |Add Comment
    .ui.header Confirmation modeal after 