template(name='footer')
    .ui.basic.fluid.segment.footer
        .ui.two.column.grid
            .column
                .ui.center.aligned.header
                    i.copyright.icon
                    | 2018 Jan-Pro
            .column
                .ui.center.aligned.header
                    | demo login: demo/password
            