template(name='mail')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.header 
                    i.envelope.icon
                    | Mail
            .three.wide.column
        .centered.row
            .four.wide.column
                #compose.ui.fluid.button
                    i.plus.icon
                    | New
                .ui.vertical.large.fluid.menu
                    .item
                        |Inbox
                        i.inbox.icon
                    .item
                        |Drafts
                        i.edit.icon
                    .item
                        |Sent
                        i.send.icon
                    .item
                        | Archived
                        i.archive.icon
            .twelve.wide.column
                .ui.segment
                    .ui.header mail

                

