template(name='chat')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    +icon name='chat'
                    | Chat
            .three.wide.column
        .centered.row
            .four.wide.column
                +timestamp_facet

            .twelve.wide.column
                .ui.comments
                    each chat_messages
                        +chat_message
                .ui.fluid.icon.big.input
                    i.plus.green.icon
                    input#new_chat_message(type='text' placeholder='add...')
                        
template(name='chat_message')
    .ui.comment
        .avatar
            img.ui.avatar.spaced.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        .content
            a.author #{author.username}
            .metadata
                span.date #{when}
            .text
                p.large130 #{text}
            .actions
                // a.reply Reply
                a.delete_comment
                    i.trash.icon
    

                

