template(name='ev')
    .ui.padded.stackable.grid
        .row
            .four.wide.column
                h1.ui.center.aligned.header
                    i.compass.icon
                    | ev explorer
                .call_ev.ui.button Call EV API
            .twelve.wide.column
                