template(name='feed')
    .ui.padded.grid
        .centered.row
            .ui.center.aligned.header
                i.rss.icon
                | Feed
        .row
            each feed_events
                .item
                    .ui.header hi