template(name='footer')
    #footer.ui.inverted.fluid.segment.footer
        .ui.container
            .ui.stackable.inverted.divided.equal.height.stackable.grid
                .row
                    .four.wide.column
                        .ui.big.list
                            .item Why Jan-Pro
                            .item Commercial Cleaning
                            .item About Us
                    .four.wide.column
                        .ui.big.list
                            .item Contact Us
                            .item Legal/ Privacy Policy
                    .seven.wide.column
                        .ui.inverted.header Regional Office Name
                        .ui.inverted.header
                            | demo login: demo/password
                .centered.row
                    .ui.center.aligned.inverted.header
                        i.copyright.icon
                        | 2018 Jan-Pro
            