template(name='footer')
    #footer.ui.fluid.segment.footer
        .ui.stackable.equal.height.centered.padded.grid
            .row
                .three.wide.inverted.column
                    // a.ui.inverted.header(href='/work') Development Log
                    .ui.inverted.list
                        .item Why Jan-Pro
                        .item Commercial Cleaning
                        .item About Us
                .three.wide.column
                    .ui.list
                        .item Contact Us
                        .item Legal/ Privacy Policy
                        .item demo login: demo/password
                .five.wide.column
                    .ui.dividing.inverted.header My Customer Account
                    +my_customer_account
                .five.wide.column
                    .ui.dividing.inverted.header My Office
                    +user_office_card
            .centered.row
                .ui.center.aligned.inverted.grey.header
                    i.copyright.icon
                    | 2018 Jan-Pro
        