template(name='footer')
    #footer.ui.inverted.fluid.segment.footer
        .ui.three.column.stackable.padded.grid
            .column
                .ui.big.list
                    .item Why Jan-Pro
                    .item Commercial Cleaning
                    .item About Us
            .column
                .ui.big.list
                    .item Contact Us
                    .item Legal/ Privacy Policy
                .ui.center.aligned.inverted.header
                    i.copyright.icon
                    | 2018 Jan-Pro
            .column
                .ui.center.aligned.inverted.header Regional Office Name
                .ui.center.aligned.inverted.header
                    | demo login: demo/password
            