template(name='mail')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    i.envelope.icon
                    | Mail
            .three.wide.column
        .centered.row
            .four.wide.column
                #new_conversation.ui.fluid.button
                    i.plus.icon
                    | Conversation
                .ui.vertical.segments
                    each conversations
                        +conversation
        
// template(name='conversation')
//     .ui.segment
//         .ui.grid
//             .twelve.wide.column
//                 +message
//             .four.wide.column
//                 .ui.header convo
//                 .ui.icon.red.button
//                     i.remove.icon
//                 .ui.dividing.header Users
//                 .ui.list
//                     .item user 1
//                     .item user 2
//                     .item user 3

                        
                        
template(name='message')
    .ui.comment
        .disabled.avatar
            i.user.icon
        .content
            a.disabled.author #{author.username}
            .metadata
                span.date #{when}
            .text
                p #{text}
            .actions
                // a.reply Reply
                a.delete_comment Delete
    

                

