template(name='nav')
    .ui.inverted.fixed.borderless.menu
        // .mobile.only.ui.dropdown.icon.link.item
        //     i.th.large.icon
        //     .ui.menu
        //         a.icon.item(href='/users' class="{{isActivePath '/users'}}")
        //             i.large.users.icon
        //             // | Users
        //         a.icon.item(href='/incidents' class="{{isActivePath '/incidents'}}")
        //             i.large.clipboard.icon
        //             // | Incidents
        //         a.icon.item(href='/offices' class="{{isActivePath '/offices'}}")
        //             i.large.building.icon
        //             // | Offices
        //         a.icon.item(href='/services' class="{{isActivePath '/services'}}")
        //             i.large.shipping.fast.icon
        //             // | Services
        a.toggle_left_sidebar.icon.item 
            i.bars.large.icon
        a.header.item(href='/' class="{{isActivePath '/'}}" )
            // i.large.home.icon
            img.ui.tiny.image(src='https://jan-pro.com/wp-content/themes/underboot/img/jan-pro-white.svg')
            // | Home
        a.desktop.only.item(href='/users' class="{{isActivePath '/users'}}" data-position="top center" data-content='Users')
            // i.large.users.icon
            +avatar_sprite name='user-group-man-woman'
            // | &nbsp; Users
        a.desktop.only.item(href='/charts' class="{{isActivePath '/charts'}}" data-position="top center" data-content='Charts')
            // i.large.users.icon
            +avatar_sprite name='combo-chart'
            // | &nbsp; Users
        a.mobile.hidden.item(href='/incidents' class="{{isActivePath '/incidents'}}" data-position="top center" data-content='Incidents')
            +avatar_sprite name='urgent-property'
            // i.large.clipboard.icon
            // | &nbsp; Incidents
        a.desktop.only.item(href='/offices' class="{{isActivePath '/offices'}}" data-position="top center" data-content='Offices')
            +avatar_sprite name='organization'
            // i.large.building.icon
            // | &nbsp; Offices
        a.desktop.only.item(href='/services' class="{{isActivePath '/services'}}" data-position="top center" data-content='Services')
            +avatar_sprite name='duster'
        // a.mobile.hidden.disabled.item(href='/schedule' class="{{isActivePath '/schedule'}}" data-position="top center" data-content='Schedule')
        a.desktop.only.item(href='/schedule' class="{{isActivePath '/schedule'}}" data-position="top center" data-content='Schedule')
            +avatar_sprite name='planner'
        // .mobile.hidden.item(href='/consumerables' class="{{isActivePath '/consumerables'}}" data-position="top center" data-content='Consumerables')
        // .mobile.hidden.item(data-position="top center" data-content='Consumerables')
        //     +dots name='toilet-paper'
            // i.large.shipping.fast.icon
            // | &nbsp; Services
        .mobile.hidden.item
            .ui.icon.transparent.inverted.disabled.input
                input(type='text' placeholder='Search...')
                i.search.icon
        .right.menu
            a.mobile.hidden.item(href='/admin' class="{{isActivePath '/admin'}}" data-position="top center" data-content='Admin')
                // i.shield.alternate.icon
                +mini_sprite name='user-shield'
                // | Admin
            // .icon.item
            //     i.bell.icon
            a.icon.mobile.hidden.item(href='/chat')
                +mini_sprite name='chat'
            // a.icon.mobile.hidden.item(href='/cart')
            //     +mini_sprite name='shopping-cart'
            a.icon.desktop.only.item(href='/mail')
                +mini_sprite name='secured-letter'
            a.ui.simple.dropdown.icon.desktop.only.item(href='/alerts')
                +mini_sprite name='appointment-reminders'
                .menu
                    .item No alerts
            if currentUser
                a.toggle_right_sidebar.item
                    if currentUser.profile.image_id
                        img.ui.avatar.spaced.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    if currentUser.name
                        .desktop.only #{currentUser.name}
                    else
                        .desktop.only #{currentUser.username}
                    //     | Profile
                    // (href="/profile/edit/#{currentUser._id}" class="{{isActivePath '/profile/edit/#{currentUser._id}'}}")
                            
            else
                a.ui.item(href='/sign-in') 
                    i.right.chevron.icon
                    | Sign In
