template(name='rankings')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    i.trophy.icon
                    | Leaderboard
            .three.wide.column
        .centered.row
            .four.wide.column
                .ui.header most posts by author
                .ui.header most incidents by author
                .ui.header incidents by customer/office
                .ui.header author by points 
            .twelve.wide.column
                .ui.segment
                    .ui.header message pane
        
template(name='ideas')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    i.lightbulb.icon
                    | Ideas
            .three.wide.column
        .centered.row
            .four.wide.column
                .ui.header community vote on ideas
            .twelve.wide.column
                .ui.segment
                    .ui.header message pane
        
template(name='questions')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
            .ten.wide.column
                h1.ui.center.aligned.grey.header 
                    i.question.icon
                    | Questions
            .three.wide.column
        .centered.row
            .four.wide.column
                .ui.header community/official faq
                .ui.header support
            .twelve.wide.column
                .ui.segment
                    .ui.header message pane
        
// template(name='conversation')
//     .ui.segment
//         .ui.grid
//             .twelve.wide.column
//                 +message
//             .four.wide.column
//                 .ui.header convo
//                 .ui.icon.red.button
//                     i.remove.icon
//                 .ui.dividing.header Users
//                 .ui.list
//                     .item user 1
//                     .item user 2
//                     .item user 3

                        
                        
// template(name='message')
//     .ui.comment
//         .disabled.avatar
//             i.user.icon
//         .content
//             a.disabled.author #{author.username}
//             .metadata
//                 span.date #{when}
//             .text
//                 p #{text}
//             .actions
//                 // a.reply Reply
//                 a.delete_comment Delete
    

                

