template(name='store')
    .ui.stackable.centered.padded.grid
        .centered.row
            .twelve.wide.column
                .ui.center.aligned.header
                    i.cart.icon
                    | Store (consumables)
        .centered.row
            .four.wide.column
                +timestamp_facet
            .twelve.wide.column
                .ui.comments
                    each store_messages
                        +store_message
                // .ui.fluid.icon.big.input
                //     i.plus.green.icon
                //     input#new_store_message(type='text' placeholder='add...')
                        
template(name='product')
    .ui.comment
        .avatar
            img.ui.avatar.spaced.image(src="{{c.url author.profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
        .content
            a.author #{author.username}
            .metadata
                span.date #{when}
            .text
                p.large130 #{text}
            .actions
                // a.reply Reply
                a.delete_comment
                    i.trash.icon
    

                

