template(name='franchisees')
    .ui.stackable.centered.padded.grid
        .centered.row
            .three.wide.column
                .ui.header 
                    i.user.circle.icon
                    |Franchisees
                // +add_button type='franchisee' label='franchisee'
                // +set_view_mode view='cards' icon='clone' label='Cards'
                // +set_view_mode view='list' icon='list' label='List'
                // +set_view_mode view='table' icon='table' label='Table'

            .thirteen.wide.column
                .ui.centered.stackable.cards
                    each franchisees
                        +ev_card

        
template(name='franchisee_edit')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                #delete.ui.basic.button
                    i.trash.icon
                    | Delete
            .ten.wide.column
                h1.ui.center.aligned.grey.header Edit franchisee ##{jan_franchisee_id}
            .three.wide.column
                +save_button
        .five.wide.column
            +franchisee_map
        .five.wide.column
            .ui.form
                +edit_text_field key='jan_franchisee_id' label='Jan Pro franchisee ID' icon='building'
                +edit_text_field key='franchisee_name' label='franchisee Name' icon='code'
                +edit_text_field key='phone_number' label='Phone Number' icon='phone'
                +edit_text_field key='email_address' label='Email Address' icon='envelope'
        .five.wide.column
            .ui.form
                +edit_text_field key='level_1_user_ud' label='Level 1 User Id' icon='user' 
                +edit_text_field key='level_2_user_ud' label='Level 2 User Id' icon='user'
                +edit_text_field key='level_3_user_ud' label='Level 3 User Id' icon='user'
        
        
template(name='franchisee_view')
    .ui.padded.stackable.centered.grid
        .centered.row
            .three.wide.column
                +link_button link='/franchisees' icon='user circle' label='franchisees'
            .ten.wide.column
                h1.ui.center.aligned.grey.header Franchisee ##{current_franchisee}
            .three.wide.column
                +edit_button
        .row
            .fourteen.wide.column
                .ui.centered.stackable.cards
                    each franchisee_cards
                        +ev_card

                
