template(name='transactions')
    .ui.container.padded.grid
        .row
            .sixteen.wide.column
                h2.ui.header 
                    +icon name='data-in-both-directions'
                    | Transactions
        .row
            .sixteen.wide.column
                .ui.header Product Purchases
                table.ui.table
                    thead
                        tr
                            th Title
                            th Type
                            th Price ($)
                            th Price (points)
                            // th Amount
                            th Actions
                    tbody
                        each transaction_docs
                            tr
                                td hi
                                
                .ui.header Service Requests
                table.ui.table
                    thead
                        tr
                            th Title
                            th Type
                            th Price ($)
                            th Price (points)
                            // th Amount
                            th Actions
                    tbody
                        each transaction_docs
                            tr
                                td hi
                                
                                
                                