template(name='transactions')
    .ui.container.padded.grid
        .row
            .sixteen.wide.column
                h2.ui.header 
                    +icon name='data-in-both-directions'
                    | Transactions
        .row
            .sixteen.wide.column
                .ui.header Product Purchases
                table.ui.table
                    thead
                        tr
                            th Title
                            th Type
                            th Price ($)
                            th Price (points)
                            // th Amount
                            th Actions
                    tbody
                        each transaction_docs
                            tr
                                td hi
                                
                .ui.header Service Requests
                table.ui.table
                    thead
                        tr
                            th Service Title
                            th Service Date
                            th Requested
                            th Details
                            // th Amount
                            th Actions
                    tbody
                        each service_request_docs
                            tr
                                td #{service_title}
                                td #{service_date}
                                td #{when}
                                td #{request_details}
                                td 
                                    +view_button
                                
                                
                                