template(name='admin')
    h1.ui.center.aligned.grey.header 
        i.shield.icon
        // |Admin
    .ui.centered.cards
        .card
            .content
                .ui.header Users
        .card
            .content
                .ui.header Tasks
        .card
            .content
                .ui.header Roles
        .card
            .content
                .ui.header Rules
    
    
    
template(name='admin_nav')    
    .ui.top.attached.six.item.compact.stackable.menu
        a.item(href='/admin' class="{{isActivePath '/admin'}}")
            i.shield.icon
            | Admin
        a.item(href='/users' class="{{isActivePath '/users'}}")
            i.users.icon
            | Users
        a.item(href='/tasks' class="{{isActivePath '/tasks'}}")
            i.tasks.icon
            | Tasks
        a.item(href='/schemas' class="{{isActivePath '/schemas'}}")
            i.database.icon
            | Schemas
        a.item(href='/roles' class="{{isActivePath '/roles'}}")
            i.users.icon
            | Roles
        a.item(href='/rules' class="{{isActivePath '/rules'}}")
            | Rules
    
    
        
template(name='admin_rules')
    .ui.center.aligned.header
        +icon name='serial-tasks'
        | Rules
    .ui.header Action pipelines/SLA managment
    .ui.header eg, When incident of priority 'high' is created email 'local manager'
        
        
        
