template(name='admin')
    h1.ui.center.aligned.grey.header 
        i.shield.icon
        |Admin
    .ui.centered.cards
        .card
            .content
                .ui.header Users
        .card
            .content
                .ui.header Tasks
        .card
            .content
                .ui.header Roles
        .card
            .content
                .ui.header Rules
    
    
    
template(name='admin_nav')    
    #nav.ui.top.attached.six.item.large.inverted.menu
        // a.item(href='/admin' class="{{isActivePath '/admin'}}" data-position="bottom center" data-content='Admin')
        a.item(href='/admin' class="{{isActivePath '/admin'}}")
            i.large.shield.icon
            .mobile.hidden Admin
        // a.item(href='/users' class="{{isActivePath '/users'}}" data-position="bottom center" data-content='Users')
        a.item(href='/users' class="{{isActivePath '/users'}}")
            i.large.users.icon
            .mobile.hidden Users
        // a.item(href='/incident_types' class="{{isActivePath '/incident_types'}}" data-position="bottom center" data-content='Incident Types')
        a.item(href='/incident_types' class="{{isActivePath '/incident_types'}}" )
            i.large.exclamation.icon
            .mobile.hidden Incident Types
        a.item(href='/triggers' class="{{isActivePath '/triggers'}}" )
            i.large.bolt.icon
            .mobile.hidden Triggers
        a.item(href='/automations' class="{{isActivePath '/automations'}}" )
            i.large.car.icon
            .mobile.hidden Automations
        // a.item(href='/rules' class="{{isActivePath '/rules'}}" data-position="bottom center" data-content='SLA Rules')
        a.item(href='/rules' class="{{isActivePath '/rules'}}" )
            i.large.sort.numeric.down.icon
            .mobile.hidden SLA Rules