template(name='admin')
    h1.ui.center.aligned.grey.header 
        +icon name='user-shield'
        |Admin
    .ui.centered.cards
        .card
            .content
                .ui.header Users
        .card
            .content
                .ui.header Tasks
        .card
            .content
                .ui.header Roles
        .card
            .content
                .ui.header Rules
    
    
    
    
template(name='admin_nav')    
    .ui.top.attached.five.item.big.compact.stackable.menu
        a.item(href='/admin' class="{{isActivePath '/admin'}}")
            +avatar_sprite name='user-shield'
            |&nbsp;
            | Admin
        a.item(href='/admin/users' class="{{isActivePath '/admin/users'}}")
            +avatar_sprite name='group-foreground-selected'
            |&nbsp;
            | Users
        a.item(href='/admin/tasks' class="{{isActivePath '/admin/tasks'}}")
            +avatar_sprite name='to-do'
            |&nbsp;
            | Tasks
        a.item(href='/admin/roles' class="{{isActivePath '/admin/roles'}}")
            +avatar_sprite name='theatre-mask'
            |&nbsp;
            | Roles
        // a.item(href='/admin/roles /admin/roles' class="{{isActivePath '/admin/roles'}}")
        //     +mini_sprite name='administrative-tools'
        //     |&nbsp;
        //     | Notification Settings
        a.item(href='/admin/rules' class="{{isActivePath '/admin/rules'}}")
            +mini_sprite name='serial-tasks'
            |&nbsp;
            | Rules
    
    
        
template(name='admin_rules')
    .ui.center.aligned.header
        +icon name='serial-tasks'
        | Rules
    .ui.header Action pipelines/SLA managment
    .ui.header eg, When incident of priority 'high' is created email 'local manager'
        
        
        
        