.ui.inverted.borderless.stackable.top.attached.big.menu
    a.toggle_sidebar.mobile.only.header.item
        i.sidebar.icon
        | JanPro

    a.header.mobile.hidden.item(href='/' class="{{isActivePath '/'}}") 
        i.line.chart.icon
        |JP
    // .header.mobile.hidden.item GR
    a.mobile.hidden.item(href='/people' class="{{isActivePath '/people'}}")
        i.users.icon
        | Users
    a.mobile.hidden.item(href='/incidents' class="{{isActivePath '/incidents'}}")
        i.sticky.note.outline.icon
        |Incidents
    a.mobile.hidden.item(href='/checkin' class="{{isActivePath '/checkin'}}")
        i.sign.in.icon
        |Check In
    .mobile.hidden.right.menu
        a.mobile.hidden.item(href='/admin' class="{{isActivePath '/admin'}}")
            i.configure.icon
            |Admin
        a.mobile.hidden.item(href='/staff' class="{{isActivePath '/staff'}}")
            i.info.circle.icon
            |Staff
        .ui.simple.dropdown.icon.item
            i.alarm.icon
            .menu
                if notifications
                    each notifications
                        .item #{text}
                else
                    | No Notifications
        if currentUser
            a.mobile.hidden.item(href="/account/profile/edit/#{currentUser._id}" class="{{isActivePath '/account/profile/edit/#{currentUser._id}'}}")
                if currentUser.profile.image_id
                    img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                else
                    i.user.icon
                if currentUser.name
                    | #{currentUser.name}
                else
                    | Profile
            a#logout.ui.mobile.hidden.item(href='#') 
                i.sign.out.icon
                | Sign Out
        else
            a.ui.mobile.hidden.item(href='/sign-in') 
                i.sign.in.icon
                | Sign In
