template(name='login')
    .ui.middle.aligned.centered.padded.grid
        .eight.wide.column
            h1.ui.center.aligned.header 
                +icon name='password'
                |Login
            .ui.segment
                .ui.form
                    .field
                        label Username/Email
                        input.username(type='text')
                    .field
                        label Password
                        input.password(type='password')
                    .field
                        .login.ui.fluid.button
                            // +icon name='lock-2'
                            | Login
            +message_button link='/password_reset' label='Forgot Password' icon='forgot-password'
            +message_button link='/new_customer' label='New Customer' icon='add-user-female'
            +message_button link='/new_officer' label='New Officer' icon='add-user-male'

                
                
template(name='new_officer')
    .ui.middle.aligned.centered.padded.grid
        .eight.wide.column
            h1.ui.center.aligned.header 
                +icon name='add-user-male'
                |New Officer
            .ui.segment
                .ui.form
                    .required.field
                        label Username
                        input(type='text')
                    .required.field
                        label Email
                        input(type='email')
                    .required.field
                        label Password
                        input(type='text')
                    .required.field
                        label Repeat Password
                        input(type='text')
            +message_button link='/login' label='Login' icon='password'
            +message_button link='/new_customer' label='New Customer' icon='add-user-female'
                
                
template(name='new_customer')
    .ui.middle.aligned.centered.padded.grid
        .eight.wide.column
            h1.ui.center.aligned.header 
                +icon name='customer-support'
                |New Customer
            .ui.segment
                .ui.form
                    .required.field
                        label Username
                        input(type='text')
                    .required.field
                        label Email
                        input(type='email')
                    .required.field
                        label Customer ID
                        input(type='text')
                    .required.field
                        label Password
                        input(type='text')
                    .required.field
                        label Repeat Password
                        input(type='text')
            +message_button link='/login' label='Login' icon='lock-2'

                
                
                